**/webscripts/**/*.get.js
**/webscripts/**/*.delete.js
**/webscripts/**/*.post.js
**/webscripts/**/*.put.js
**/webscripts/**/*.post.json.js
**/webscripts/**/*.put.json.js
**/web/ootbee-support-tools/js/moment-with-locales.min.js
**/web/ootbee-support-tools/js/smoothie.js
**/web/ootbee-support-tools/js/jquery-2.2.3.js
**/web/ootbee-support-tools/js/jquery.dataTables.js
**/web/ootbee-support-tools/js/dataTables.buttons.min.js
**/web/ootbee-support-tools/js/dataTables.bootstrap4.min.js