**/webscripts/**/*.get.js
**/webscripts/**/*.delete.js
**/webscripts/**/*.post.js
**/webscripts/**/*.put.js
**/webscripts/**/*.post.json.js
**/webscripts/**/*.put.json.js
**/moment-with-locales.min.js
**/jquery-2.2.3.js
**/jquery.dataTables.js
**/dataTables.buttons.min.js
**/dataTables.bootstrap4.min.js