div.main-wrapper > div.main
{
	width: 100%;
}

/* for whatever reason default admin.css does not include left / right padding */
table.results td
{
	padding-left: 4px;
    padding-right: 4px;
}

table.patchesapplied tr:nth-child(even),
table.scheduledjobs tr:nth-child(even),
table.log4jsettings tr:nth-child(even)
{
   background-color: #f8f8f8;
}