#viewer pre {
	white-space: pre-wrap;
}

.highlight {
	color: #c00;
}

#viewer {
	border: 1px solid #444;
	padding: 0.5em;
	z-index: -1;
	position: relative;
}

button.save {
	background-color: #6E9E2D;
}

input[type="button"].selector {
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	background-color: #EEEEEE;
	color: #222;
	z-index: -1;
	font-size: 9px;
	margin-bottom: -1px;
}

input[type="button"].selector.selected {
	background-color: #FFFFFF;
	border: 1px solid #444;
	border-bottom-color: #FFFFFF;
	z-index: 2;
}